body {
    font-family: var(--ff-body);
    font-size: var(--ff-400);
    font-weight: var(--ff-regular);
    color: hsl( var(--clr-primary-400) );
}

a {
    color: hsl( var(--clr-accent-400) );
    text-decoration: underline;
}