// Primary header desktop
.primary-header {
    margin-bottom: 3rem;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px hsl( var(--clr-primary-300) );

    > div {
        display: flex;
        align-items: center;
    }
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    margin-right: 4rem;
}

// Navigation
.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    padding: 2.5rem .5rem;
    border-bottom: 2px solid transparent;
    transition: border-color 300ms ease-in-out;

    
    &:hover,
    &:focus-visible,
    &.active,
    &[aria-selected="true"] {
        border-color: hsl(var(--clr-accent-400) );
    }
}

.nav-list a {
    text-decoration: none;
    color: hsl( var(--clr-primary-400) );

    &:hover,
    &:focus-visible {
        color: hsl( var(--clr-primary-600) );
    }
}

.account {
    width: 3rem;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: border 300ms ease-in-out;

    &:hover,
    &:focus-visible {
        border: 2px solid hsl( var(--clr-accent-400) );
    }
}

// Primary header mobile
@media (max-width: 47em) {
    .primary-header {
        margin: 0;
    }

    // Overlay set on primary-header
    [overlay="true"]::after {
        content: "";
        position: fixed;
        inset: 0;
        background-color: hsl( var(--clr-neutral-900) );
        opacity: .75;
        z-index: 99;
    }

    .nav-wrapper {
        padding-block: 1rem 1.5rem;
        border: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("../assets/images/icon-menu.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1.25rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        position: fixed;
        background-image: url("../assets/images/icon-close.svg");
    }

    .logo {
        margin-inline: 3rem;
    }

    // Navigation mobile
    .primary-navigation {
        position: fixed;
        z-index: 999;
        inset: 0;
        transform: translateX(-100%);
        width: 60%;
        padding: min(20rem, 10vh) 2rem;
        background-color: hsl( var(--clr-neutral-100) );
        font-weight: var(--fw-bold);
        transition: transform 300ms ease-in-out;
    }

    .primary-navigation[data-visible] {
        display: block;
        transform: translateX(0);
    }

    .nav-list {
        flex-direction: column;

        li {
            padding: 1rem .5rem;
            border-bottom: none;

            &:hover,
            &:focus-visible {
                border: none;
            }
        }
    }

    .nav-list li a {
        color: hsl( var(--clr-primary-600) );
    }

}

.cart-button {
    position: relative;
    margin-right: 1rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        transition: filter 300ms ease-in-out;
    }

    &:hover img,
    &:focus-visible img {
        filter: brightness(10%) saturate(90%);
    }

    .number {
        position: absolute;
        top: 0;
        right: 0;
        padding: .05rem .5rem;
        background-color: hsl( var(--clr-accent-400) );
        border-radius: 10px;
    }
}

// Shopping Cart 
.cart {
    position: absolute;
    z-index: 99;
    inset-inline: 0;
    top: 6.5rem;
    margin-inline: auto;
    padding: 1rem 2rem 2rem 2rem;
    width: min(100% - 2rem);
    border-radius: 10px;
    background-color: hsl( var(--clr-neutral-100) );
    box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.25);
}

@media (min-width: 47em) {
    .cart {
        top: 6rem;
        left: auto;
        right: clamp(3em, 5vw, 8em);
        width: 30rem;
    }
}

.cart-title {
    position: relative;
    padding-bottom: 1rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-inline: -2rem;
        height: 1px;
        border-bottom: 1px solid hsl( var(--clr-primary-300) );
    }
}
.cart-content {
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding-bottom: 2rem;

    .product-img-small {
        border-radius: 10px;
    }

    .remove {
        justify-self: center;
    }
}
.cart-empty {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

// Button
.button {
    display: inline-flex;
    justify-content: center;
    width: fill-available;
    width: -webkit-fill-available;
    padding-block: 1rem;
    padding-inline: 4rem;
    text-decoration: none;
    font-weight: var(--fw-bold);
    color:hsl( var(--clr-neutral-100) );
    background-color: hsl( var(--clr-accent-400) );
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 20px 50px -20px hsl( var(--clr-accent-400) );
    transition: background-color 300ms ease-in-out;

    &:hover,
    &:focus-visible {
        background-color: hsl( var(--clr-accent-400) / .75 );
    }
}


// Product images
.product-img .img_big:not(:first-child) {
    display: none;
}

.product-img {
    position: relative;
    margin-inline: -2rem;
}

@media (min-width: 47em) {
    .product-img {
        margin-inline: auto;
        img {
            border-radius: 10px;
        }
    }
}

// Lightbox
.img_thumbnail {
    display: none;
    list-style: none;
    margin-block: 1rem;

    li {
        border: 2px solid transparent;
        border-radius: 13px;

        &[active] {
            border-color: hsl( var(--clr-accent-400) );

            img {
                opacity: 0.5;
            }
        }
    }

    a:hover img,
    a:focus-visible img {
        opacity: 0.5;
    }
}

@media (min-width: 47em) {
    .img_thumbnail {
        display: flex;
    }
    .prev,
    .next {
        display: none;
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    aspect-ratio: 1;
    background-color: hsl( var(--clr-neutral-100) );
    border-radius: 100%;
    cursor: pointer;

    &::before {
        transition: filter 200ms ease-in-out;
    }

    &:hover::before,
    &:focus-visible::before {
        filter: invert(52%) sepia(83%) saturate(1607%) hue-rotate(348deg) brightness(102%) contrast(100%);
    }
}

.prev {
    left: 2rem;
}

.next {
    right: 2rem;
}

.prev::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/icon-previous.svg');
    background-repeat: no-repeat;
    background-position: 0.95rem center;
}

.next::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../assets/images/icon-next.svg');
    background-repeat: no-repeat;
    background-position: 1.2rem center;
}

// Lightbox modal
.modal {
    display: none;
}

// Product info
.product-info {
    padding-top: 1rem;
    padding-bottom: 3rem;

    h1 {
    margin-top: 1rem;
    }
}

.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: inline-block;
    margin-right: 1rem;
}

.price__discount {
    padding-inline: .5rem;
    padding-block: 0.15rem;
    vertical-align: 0.219rem;
    border-radius: 5px;
}

.price__old {
    margin-top: .25rem;
    text-decoration: line-through;
}

@media (min-width: 47em) {
    .prices {
        flex-direction: column;
        align-items: flex-start;
    }
}

.quantity {
    display: flex;
    gap: unset;

    input {
        width: 100%;
        text-align: center;
        border: 0;
        background-color: hsl( var(--clr-primary-200) );
    }

    // Hide input arrows
    
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    .decrease,
    .increase {
        position: relative;
        padding: 1.75rem;
        background-color: hsl( var(--clr-primary-200) );
        cursor: pointer;
    
        &:hover::before,
        &:focus-visible::before {
            filter: opacity(0.75);
        }
    }

    .decrease::before,
    .increase::before {
        content: "";
        position: absolute;
        inset: 0;
        background-repeat: no-repeat;
        background-position: center;
        transition: filter 200ms ease-in-out;
    }

    .decrease {
        border-radius: 10px 0 0 10px;
    }

    .increase {
        border-radius: 0 10px 10px 0;
    }

    .decrease::before {
        background-image: url("../assets/images/icon-minus.svg");
    }

    .increase::before {
        background-image: url("../assets/images/icon-plus.svg");
    }
}

@media (min-width: 47em) {
    .purchase {
        display: flex;
        align-items: center;
    }
    .quantity {
        display: inline-flex;
        margin-right: 1rem;
        min-width: 8rem;
    }

    .button[type=submit] {
        margin: 0;
        padding-inline: 1rem;
    }
}

