/* ------------------------------- */
/* Custom properties               */
/* ------------------------------- */

:root {
    // Colours
    --clr-accent-400: 26, 100%, 55%;
    --clr-accent-200: 25, 100%, 94%;

    --clr-primary-600: 220, 13%, 13%;
    --clr-primary-400: 219, 9%, 45%;
    --clr-primary-300: 220, 14%, 75%;
    --clr-primary-200: 223, 64%, 98%;

    --clr-neutral-900: 0, 0%, 0%;
    --clr-neutral-100: 0, 0%, 100%;

    // Font-families
    --ff-primary: 'Kumbh Sans', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    // Font-sizes
    --fs-800: 3rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
    --fs-300: .8rem;

    //Font-weight
    --fw-regular: 400;
    --fw-bold: 700;
}